<!DOCTYPE html>
<html>

<head th:replace="fragments/head" />

<body>

	<nav th:replace="fragments/adminNav"></nav>

	<div class="container">

		<h2 th:text="#{gestionarVotaciones.message}"></h2>

		<hr>

		<div class="form-group" id="datosok">
			<span id="msgVotacionInfo" th:text="${msgVotacionInfo}"></span>
		</div>

		<div class="table-responsive">
			<table class="table tablasPuzzle">
				<thead>
					<tr>

						<th th:text="#{name.message}"></th>
						<th th:text="#{fecchaInicio.message}"></th>
						<th th:text="#{fecchaFin.message}"></th>
						<th th:text="#{acciones.message}"></th>
					</tr>
				</thead>
				<tbody>
					<tr id="trPuzzle" th:each="votacion : ${votaciones}">
						<td th:text="${votacion.nombre}"></td>
						<td th:text="${votacion.fechaInicio}"></td>
						<td th:text="${votacion.fechaFin}"></td>
						<td>
							<!-- 	<form class="navbar-form" th:action="${'/admin/delete/'+user.id}">
								<button type="submit" th:id="${'/admin/delete/'+user.numDocumento}"
									class="btn btn-default btnPuzzle" th:text="#{eliminar.message}"></button>
							</form> -->
							<form class="navbar-form"
								th:action="${'/admin/verVotacion/'+votacion.id}">
								<button type="submit"
									th:id="${'/admin/verVotacion/'+votacion.id}"
									class="btn btn-default" th:text="#{ver.message}"></button>
							</form>
							<form class="navbar-form"
								th:action="${'/admin/deleteVotacion/'+votacion.id}">

								<button type="submit"
									th:id="${'/admin/deleteVotacion/'+votacion.id}"
									class="btn btn-default" th:text="#{votacion.eliminar.message}"></button>
							</form>


						</td>

					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<footer th:replace="fragments/footer"></footer>

</body>
</html>