<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body class="imgIndice2">
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav"></nav>
	<div class="container mensajes">

		<h2 th:text="#{signup.text2.message}"></h2>

		<p th:text="#{signup.info.message}" />
		
		<form class="form-horizontal" method="get" action="/login">

				<button name="btnVolverVotaciones" type="submit"
					id="btnVolverVotaciones" class="btn btn-primary" th:text="#{aceptar.message}"></button>

		</form>
		
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>
